<article class="comment">
	<h4>From <em><%= comment.commenter %></em></h4>
	<p>
		<%= comment.body %>
	</p>
	<aside>
		<%= link_to "Delete this comment", [comment.post, comment],
			method: :delete, data: {
				confirm: "Are you sure to delete this comment?"
			} %>
	</aside>
</article>