/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
body
{
background-color: #f6f6f6;
width: 60%;
min-width:640px;
}

body, #title_blog, #main_menu, nav table
{
margin: auto;
margin-top: 5px;
margin-bottom: 5px;
}
#title_blog
{
text-align: center;
}

#main_menu
{
background-color: #a3dfff;
margin-right: 0px;
margin-left: 0px
}
