// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment
{
min-width: 620px;
border: 1px solid black;
padding: 0px;
}

.comment h4
{
background-color: #a3dfef;
}

.comment p
{
text-align: justify;
background-color: #f6f6f0;
}