// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome
{
min-width: 630px;
border: 1px solid black;
padding: 5px;
}

#welcome article
{
border: 1px solid black;
border-radius: 15px;
text-align: justify;
padding: 5px;
}

#welcome h1
{
text-align: center;
}